<div class="hero">

</div>
<div class="project">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="talk-us">
                    <h2>Háblanos de tu proyecto</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="services">
        <div class="row">
            <div class="col-md-auto">
                <img src="../../../assets/branding.gif" alt="">
            </div>
            <div class="col-md-auto">
                <img src="../../../assets/campanas.gif" alt="">
            </div>
            <div class="col-md-auto">
                <img src="../../../assets/consultoria.gif" alt="">
            </div>
            <div class="col-md-auto">
                <img src="../../../assets/inbound.gif" alt="">
            </div>
            <div class="col-md-auto ">
                <img src="../../../assets/legal.gif" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid" id="book">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Book</h2>
            </div>
        </div>
    </div>
</div>