.hero {
    background-image: url('../../../assets/landing.gif');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    #text-hero {
        padding-top: 25rem;  
        @media screen and (min-width: 720px) {
            padding-left: 11%;
            width: 50%;
            
        }
        @media screen and (max-width: 720px) {
            width: 100%;
            padding-left: 3%;
            padding-right:3%;
        }
        text-align: justify;
        color: white;
    }
}

.project {
    background: rgb(101, 255, 151);
    #project-content {
        justify-content: center;
        div .talk-us {
            padding: 5%;
            border: .2rem solid #8100df;
            text-transform: uppercase;
            color: #8100df;
            background: #FFF;
            text-align: center;
            margin: 3rem 0;
        }
    }
}

#services {
    background-color: #8289ff;
    div img {
        width: 100%;
        border: none;
    }
    .row div {
        margin-right: auto;
        border: none;
    }
}

#book {
    background-color: #9EF6D7;
    .row div h2 {
        margin: 1rem;
        color: #8100df;
        ;
    }
}

#gallery {
    padding-right: 0;
    padding-left: 0;
    div {
        margin: 0;
        padding: 0;
        img {
            width: 100%;
        }
    }
}

nav button {
    background-color: white;
}

#contact {
    #image {
        background-image: url('../../../assets/contact.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        margin: 0px;
    }
    #form {
        background-color: #D4F5BC;
        color: #6F72FC;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 5%;
    }
}