  <div class="hero">
<h5 id="text-hero">En 8art nos enfocamos en cada proyecto como si fuera nuestro, implementando de manera integral todos nuestros recursos como agencia de marketing para entregar resultados optimos que se ajustan a las necesidades de cada uno de nuestros clientes.</h5>
</div>
<div class="project">
    <div class="container-fluid">
        <div class="row" id="project-content">
            <div class="col-9 col-md-6">
                <div class="talk-us">
                    <h2>Háblanos de tu proyecto</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="services">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-2">
                <img src="../../../assets/branding.gif" alt="">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img src="../../../assets/campanas.gif" alt="">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img src="../../../assets/consultoria.gif" alt="">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img src="../../../assets/inbound.gif" alt="">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img src="../../../assets/legal.gif" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid" id="book">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Book</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="gallery">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
            <div class="col-12 col-md-6">
                <img src="https://placehold.it/550x466" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col-md-7" id="image">
        </div>
        <div class="col-sm-12 col-md-5" id="form">
            <form>
              <h1>HABLANOS DE TU PROYECTO.</h1>
              <div class="form-group">
                <label for="correo">Correo electronico</label>
                <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Ingresa tu correo electronico" required>
                <small id="emailHelp" class="form-text text-muted">Nosotros no compartiremos tu correo con nadie..</small>
              </div>
              <div class="form-group">
                <label for="idea">Tu idea</label>
                <textarea rows="8" class="form-control" id="idea" placeholder="Escribe tu idea aqui." required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
  </div>