<div class="header-portfolio">
  <div class="content">
    <h1>Concepción Cabrera</h1>
    <h4>El siguiente proyecto fue una campaña publicitaría integral que cubrio la Beatificación de Concepción Cabrera primera beata laica, nacida en Jesús María, San Luis Potosi.</h4>
  </div>
</div>
<iframe src="https://www.youtube.com/embed/HevbTLUDblU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="container-fluid" id="gallery">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
        <div class="col-12 col-md-6">
            <img src="https://placehold.it/550x466" />
        </div>
    </div>
</div>